<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Axes Demo</title>
    <style>
        .table-container {
            display: flex;
            justify-content: space-between;
        }
        table {
            width: 45%; /* Adjust width as needed */
            border-collapse: collapse;
            margin: 5px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    {% include "header.html" %}

    <h1>5分钟：最高最低价统计</h1>
    <form method="post">
        <label for="code">Enter stock code (sh000001, sh600000, sz000001):</label><br>
	<input type="text" id="code" name="code" value="{{ request.form['code'] if request.method == 'POST' else 'sh000001'}}"><br><br>

        <label for="days">Enter n days (n<=40): 40</label><br>
	<!--input type="text" id="days" name="days" value="{{ request.form['days'] if request.method == 'POST' else '40'}}"--><br><br>

        <button type="submit">Submit</button>
    </form>

    {% if highest_ranks %}
    <div class="table-container">
    <table border="1">
	    <tr>
		    <th>最高价时间</th>
		    <th>比例</th>
	    </tr>
	    {% for key, value in highest_ranks.items() %}
	    <tr>
		    <td>{{ key }}</td>
		    <td>{{ value }}</td>
	    </tr>
	    {% endfor %}
    </table>
    <table border="1">
	    <tr>
		    <th>最低价时间</th>
		    <th>比例</th>
	    </tr>
	    {% for key, value in lowest_ranks.items() %}
	    <tr>
		    <td>{{ key }}</td>
		    <td>{{ value }}</td>
	    </tr>
	    {% endfor %}
    </table>
    </div>
    {% endif %}
</body>
</html>

